ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 1050px;
    border-radius: 7px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 19px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover:not(.active) {
    background-color: #555555;
}

.active {
    background-color: #090909;
}

.submit {
    background-color: #555555;
}